
<form (ngSubmit)="saveProject()">
  <div class="form-group">
    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" class="form-control input-field" [(ngModel)]="projectName" required>
  </div>
  
  <div class="form-group">
    <label for="projectDescription">Project Description:</label>
    <textarea id="projectDescription" class="form-control input-field custom-textarea" [(ngModel)]="projectDescription" required></textarea>
  </div>

  <div class="button-container mt-4">
    <button type="submit" class="btn btn-primary save-button">Save</button>
    <button type="button" class="btn btn-secondary cancel-button " (click)="cancel()" >Cancel</button>
  </div>
</form>
