<div class="w-[82vw] pt-16 px-8 flex flex-col items-start gap-11 h-[100vh] relative">
    <div class="absolute top-0 left-0 w-full h-[230px] bg-purple-800 overflow-hidden opacity-40 -z-10">
        <img src="../../../assets/cover.jpg" class="min-w-full" alt="John Doe">
    </div>
    <div class="flex w-full gap-8">
        <div class="w-[200px] h-[200px] overflow-hidden  rounded-full bg-violet-800">
            <img src="../../../assets/profile.jpg" class="min-h-full" alt="John Doe">
        </div>
        <div class="flex flex-col">
            <p class="text-5xl font-bold">John Doe</p>
            <p class="text-xl">Frontend Developer</p>
            <p class="text-md px-1 bg-lime-500 w-fit text-white rounded-md">Admin</p>
        </div>
    </div>
        
    <div class="flex flex-col gap-2">
        <div class="flex gap-3">
            <p class="font-bold text-xl">Email:</p>
            <p class="text-xl">john@gmail.com</p>
        </div>
        <div class="flex gap-3">
            <p class="font-bold text-xl">Phone:</p>
            <p class="text-xl">06 12 34 56 78</p>
        </div>
        <div class="flex gap-3">
            <p class="font-bold text-xl">Address:</p>
            <p class="text-xl">Hay Ryad, Rabat - Morocco</p>
        </div>
        <div class="flex gap-3">
            <p class="font-bold text-xl">Birthdate:</p>
            <p class="text-xl">05/02/1999</p>
        </div>
        <div class="flex gap-3">
            <p class="font-bold text-xl">Joining Date:</p>
            <p class="text-xl">05/02/2024</p>
        </div>
    </div>

    <button class="px-4 py-3 absolute bottom-8 shadow-md right-8 bg-lime-500 hover:bg-lime-600 rounded-full  transition-all duration-300">
        <i class="pi pi-user-edit text-white text-lg"></i>
    </button>
</div>
