<div class="flex flex-col h-screen w-[18vw] bg-neutral-100">
    <!-- Logo -->
    <div class="p-4">
        <img src="../../../assets/intellcap_logo.png" alt="Logo" class="w-full h-auto">
    </div>

    <!-- Links -->
    <nav class="flex-grow">
        <ul class="flex flex-col space-y-1/2">
            <li>
                <a routerLink="/dashboard" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-th-large  text-lg"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/Callendier" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 " routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-users  text-lg"></i>
                    <span>calendar</span>
                </a>
            </li>
            <li>
                <a routerLink="/News" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-megaphone  text-lg"></i>
                    <span>News</span>
                </a>
            </li>
            <li>
            <a routerLink="/Tasks" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                <i class="pi pi-list text-lg"></i>
                <span>Tasks</span>
            </a>
            </li>
            <li>
            <a routerLink="/global" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                <i class="pi pi-hashtag text-lg"></i>
                <span>Global chat</span>
            </a>
            </li>
        </ul><br>
        <div class="flex justify-center ">
            <div class="w-[80%] h-[2px] bg-neutral-300"></div>
        </div>

    </nav>

    <!-- User info and logout -->
    <div class="p-4 flex items-center justify-between">
        <button class="px-4 py-2  bg-lime-500 hover:bg-lime-600 rounded-l-full rounded-r-sm transition-all duration-300 rounded">
            <i class="pi pi-arrow-left text-white text-lg"></i>
        </button>
        <div class="flex flex-col items-center">
            <p class=" mr-2">John Doe</p>
            <div class="flex gap-2 items-center justify-center">
                <i class="pi pi-circle-fill text-[11px]  text-green-400"></i>
                <p class="text-xs">Online</p>
            </div>
        </div>
    </div>
</div>

