.pass {
    width: 100vw
}

.animation-image {
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-90%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animation-image2 {
    animation: slideInFromRight 1s ease-out;
  }
  