<div class="h-full w-full">
    <div class="flex justify-between">
      <div class="min-h-screen flex items-center justify-center w-[70vw]">
        <form [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
          <img src="../../../assets/logo.png" alt="Animation Image" class="animation-image w-[25vw]">
          <div class="mt-11">
            <div class="mb-6">
              <input type="email" pInputText placeholder="Enter your email" formControlName="email" class="w-full" />
            </div>
            <div class="mb-8">
              <p-password placeholder="Enter your password" formControlName="password" [toggleMask]="true"
                inputStyleClass="w-full" styleClass="w-full"></p-password>
            </div>
            <div class="flex flex-col justify-center gap-3 items-center">
              <button class="bg-blue-600 w-full hover:bg-blue-500 transition-all py-3 text-lg rounded-full text-white">Submit</button>
              <a routerLink="/register" class="text-blue-600 w-full text-center border-blue-600 border-2 py-3 text-lg rounded-full transition-all hover:bg-blue-600 hover:border-blue-600 hover:text-white">New User?</a>
            </div>
          </div>
        </form>
      </div>
      <div>
        <img src="../../assets/couverture.png" alt="img" class="animation-image2" style="padding-top: 50px;" />
      </div>
    </div>
  </div>