<div class="w-[82vw] h-[100vh]">
    <p-table   [value]="users" [paginator]="true" [rowsPerPageOptions]="[8, 16, 50]" [loading]="loading" [rows]="8">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName" style="width:20%">First Name <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="lastName" style="width:20%">Last Name <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="email" style="width:20%">Email <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="role" style="width:20%">Role <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="isActive" style="width:20%">Status <p-sortIcon field="code"></p-sortIcon></th>
                <!-- Add more table headers for other user properties -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span (click)="showRoleChangeModal(user)" class="cursor-pointer">
                        {{ user.role }}
                    </span>
                </td>
                <td>
                    <span class="cursor-pointer" [ngClass]="{ 'text-green-500': user.isActive, 'text-red-500': !user.isActive }"
                            (click)="showConfirmation(user)"
                        >
                        {{ user.isActive ? 'Active' : 'Inactive' }}
                    </span>
                </td>
                <!-- Add more table cells for other user properties -->
            </tr>
        </ng-template>
    </p-table>
</div>

