<div class="flex flex-col h-screen w-[18vw] bg-neutral-100">
    <!-- Logo -->
    <div class="p-4">
        <img src="../../../assets/intellcap_logo.png" alt="Logo" class="w-full h-auto">
    </div>

    <!-- Links -->
    <nav class="flex-grow">
        <ul class="flex flex-col space-y-4">
            <li>
                <a routerLink="/home" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-green-500 font-bold">
                    <i class="pi pi-home  text-lg"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/users" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 " routerLinkActive="text-green-500 font-bold">
                    <i class="pi pi-users  text-lg"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="#" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-green-500 font-bold">
                    <i class="pi pi-server  text-lg"></i>
                    <span>Materials</span>
                </a>
            </li>
            <li>
            <a href="#" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-green-500 font-bold">
                <i class="pi pi-globe text-lg"></i>
                <span>News</span>
            </a>
            </li>
            <li>
            <a href="#" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-green-500 font-bold">
                <i class="pi pi-user text-lg"></i>
                <span>Profile</span>
            </a>
            </li>
        </ul>
    </nav>

    <!-- User info and logout -->
    <div class="p-4 flex items-center justify-between">
        <button class="px-4 py-2  bg-green-500 hover:bg-green-600 rounded-l-full rounded-r-sm transition-all duration-300 rounded">
            <i class="pi pi-arrow-left text-white text-lg"></i>
        </button>
        <div class="flex flex-col items-center">
            <p class=" mr-2">John Doe</p>
            <div class="flex gap-2 items-center justify-center">
                <i class="pi pi-circle-fill text-[11px]  text-green-600"></i>
                <p class="text-xs">Online</p>
            </div>
        </div>
    </div>
</div>
